<span class="example-spacer"></span>
<div class="main-body">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile>
          <div class="col-md-4">
            <h3 class="text-center">Unallocated Transactions</h3>
            <br />
            <h4
              class="text-center text-primary canvas-pointer ng-binding ng-scope"
            >
              247
            </h4>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="col-md-4">
            <h3 class="text-center">Last bank statement imported</h3>
            <br />
            <h4
              class="text-center text-primary canvas-pointer ng-binding ng-scope"
            >
              15 days ago
            </h4>
          </div></mat-grid-tile
        >
        <mat-grid-tile>
          <div class="col-md-4">
            <h3 class="text-center">3 month cashflow</h3>
            <br />
            <mat-icon
              aria-hidden="false"
              color="warn"
              fontIcon="thumb_down"
            ></mat-icon>
            <br />
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content class="example-card">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div fxLayout="column"></div>
        <div fxLayout="column">Second</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
